    .dest-hero h1 { position: relative; font-size: 3rem; z-index: 1; }

    /* GRID */
    .destinations-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
      padding: 50px 20px;
    }

    /* CARD */
    .destination-card {
      
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 18px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      color: aqua;
    }
    
    
    .modal {
      display: none;
      position: fixed;
      inset: 0;
      background: rgba(0,0,0,0.85);
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow-y: auto;
      padding: 40px 20px;
    }
    .modal-content {
      background: white;
      max-width: 900px;
      width: 100%;
      border-radius: 12px;
      padding: 30px;
      position: relative;
      text-align: left;
      color: #333;
    }
    .modal-content img { width: 100%; height: 300px; object-fit: cover; border-radius: 8px; margin-bottom: 20px; }
    .close-modal {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.5rem;
      cursor: pointer;
      background: #181717;
      color: white;
      border: none;
      padding: 5px 12px;
      border-radius: 6px;
    }
    .modal-content h2 { margin-top: 0; }
    .modal-content p { line-height: 1.6; margin-bottom: 15px; }

    /* BOOKING / PAYMENT */
    .booking-section { padding: 30px 20px; background: #fff; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); }
    .booking-section h2, .booking-section h3 { color: #2c3e50; }
    .booking-section .btn { margin: 5px; padding: 8px 14px; background:#272526; color:white; border:none; border-radius:6px; cursor:pointer; }
    .booking-section textarea { width:100%; padding:10px; margin:10px 0; border-radius:6px; border:1px solid #ccc; }
    .success { color: green; font-weight:bold; margin-top:10px; }

    footer { text-align: center; padding: 20px 0; }
    .end{
      text-align: center;
    }
    *{
      color: yellow;
    }

